[submodule "cherry-studio"]
	path = external/cherry-studio
	url = https://github.com/DankerMu/cherry-studio.git
[submodule "graphify"]
	path = external/graphify
	url = https://github.com/DankerMu/graphify.git
[submodule "external/docmost"]
	path = external/docmost
	url = https://github.com/DankerMu/docmost.git
